<tr>
	<td colspan="1"><%= song.title %> </td>
	<td colspan="1"><%= song.artist %> </td>
	<td colspan="1"><%= song.album %> </td>
	<td colspan="1"><%= song.year %> </td>
	<td colspan="1"><%= song.track %> </td>
	<td colspan="1"><%= song.genre %> </td>
</tr>